<div class="row">
	<h3 class="responsive-table center z-depth-2 grey">Lista de Partidos</h3>

	<table class="white z-depth-2">
		<thead> 
			<th> Nick Organizador </th>
			<th> Lugar </th>
			<th> Cancha </th>
			<th> Fecha </th>
			<th> Hora </th>
		</thead>

		<tbody >
			<% if @partidos.empty? %>
				<tr> <td> <span> No hay partidos para este usuario <span> </td></tr>
			<%else%>
				<% @partidos.each do |partido| %>
					<tr> 
						<td> <%= link_to partido.user.nick, partido.user 	%></td>
						<td> <%=  #esto hace muchas consultas
									partido.local.nombre %></td> 
						<td> <%= partido.court_id %></td>
						<td> <%= partido.fecha.strftime("%d/%m/%y") %></td>
						<td> <%= partido.fecha.strftime("%H:%M") %></td>
						<td> <%= link_to 'Ver Partido', partido, :class=>"btn" 		%></td>
					</tr>
				<% end %>
			<%end%>
		</tbody>
</table>
</div>