
<div class="card white">
	<div class="card-content">
		<span class="card-title center">Crear Partido</span>

	
		<%= form_for (@partido) do |f| %>
			
			<%= f.hidden_field :user_id, :value => current_user.id %>

			<div class="input-field">
				<%= f.select :local_id do %>
					<% @locals.each do |local| %>
						<%= content_tag(:option, local.last, value: local.first) %>
					<%end%>
				<%end%>
				<label>Seleccionar Local</label>
			</div>

			<div class="input-field">
				<%= f.label :court_id %>
				<%= f.number_field :court_id, in: 1...15  %>
			</div>

			<%= f.label :fecha %>
			<div class="input-field">
				<%= f.datetime_select :fecha, discard_minute: true, default: Date.today %>	
			</div>

			<div class="card-action">
				<%= f.submit 'Crear Partido', :class=>"btn" %>
			</div>
		<% end %>
	</div>
</div>