<div class="row" style="margin-top: 50px">
	<h3 class="center z-depth-2 grey">Datos de Partido</h3>

	<table class="bordered highlight white z-depth-2" style="margin-bottom: 25px">
			<tbody>
				<tr>
					<td> ID Partido</td>
					<td id="partido_id"> <%= @partido.id %>  </td>
				</tr>
				<tr>	
					<td> ID Creador</td>		
					<td> <%= @partido.user_id %>  </td>
				</tr>
				<tr>
					<td> Organizador</td>
					<td> <%= link_to @partido.user.nick, @partido.user %>  </td>
				</tr>
				<tr>
					<td>Lugar</td>
					<td> <%= link_to @local.nombre, @local %>  </td>
				</tr>
				<tr>
					<td>Cancha</td>
					<td> <%= @partido.court_id %>  </td>
				</tr>
				<tr>
					<td>Fecha</td>
					<td> <%= @partido.fecha.strftime("%d/%m/%y") %> </td>
				</tr>
				<tr>
					<td>Hora</td>
					<td> <%= @partido.fecha.strftime("%H:%M") %> </td>
				</tr>
			</tbody>
	</table>
</div>
		
<div class="row">

	<% unless @anotado == nil %>
		<div class="col s12 center" style = "margin-bottom: 50px">
			<%= form_for (@anotado) do |f| %>

				<%= f.hidden_field :user_id, :value => current_user.id %>

				<%= f.hidden_field :partido_id, :value => @partido.id %>

				<%= f.submit 'Anotarse', :class=>"btn-large" %>

			<% end %>

		</div>
	<%end%>

	<div class="col s6">
		<ul class="collection with-header z-depth-2">
			<li class="collection-header grey"><h5>Usuarios Anotados</h5></li>
			<% @partido.anotados.each do |anotado| %>
				<li class="collection-item">
					<% user_anotado = User.find(anotado.user_id) %>
					<%= link_to user_anotado.nick, user_anotado %>
					
					<% if current_user?(@partido.user) and 
						not @partido.aceptados.include?(Anotado.find(anotado.id))  %>
							<%= form_tag anotados_aceptar_path do %>
								<%= hidden_field_tag :user_id, anotado.user_id %>
								<%= hidden_field_tag :partido_id, @partido.id %>
								<%= submit_tag 'Aceptar', :class => "btn" %>
							<%end%>
						<%end%>
					<end%>
				</li>
			<%end%>
		</ul>	
	</div>

	<div class="col s6">
		<ul class="collection with-header z-depth-2">
			<li class="collection-header grey"><h5>Usuarios Aceptados</h5></li>
			<% @partido.aceptados.each do |aceptado| %>
			<% user_aceptado = User.find(aceptado.user_id) %>
				<li class="collection-item"> <%= link_to user_aceptado.nick, user_aceptado %> 

					<% if current_user.id == aceptado.user_id or 
						current_user?(@partido.user) then %>
						<%= form_tag anotados_quitar_path do %>
							<%= hidden_field_tag :user_id, aceptado.user_id %>
							<%= hidden_field_tag :partido_id, @partido.id %>
							<%= submit_tag 'Borrar', :class => "btn" %>
						<%end%>
					<%end%>
				</li>
			<%end%>
		</ul>
	</div>
</div>

<% if @partido.aceptados.length == 10 and current_user?(@partido.user) %>
	<div class="row">
		<div class="center" style="margin-bottom: 20px">
			<%= form_tag "/partidos/"+@partido.id.to_s+"/armar", method: 'get', remote: true do %>
				<%= submit_tag "Armar Equipos", :class => "btn-large" %>
			<%end%>
		</div>
	</div>
<%end%>

<div id="equipos" class="row">
	
</div>	


