<div class="row">
<h3 class="center z-depth-2 grey">Datos de Usuario</h3>

<table class="centered highlight white z-depth-2">
	
		<tbody>
			<tr>
				<td> Nickname</td> <td> <%= @user.nick %> </td>
			</tr>
			<tr>
				<!-- <img src="/assets/default_user.png" alt="imagen" class="circle" height="42" width="42"> -->
				<td> <%= image_tag @user.avatar.url, height: '32', width: '32' %>  </td> 

				<td>
					<% if logged_in? %>
	   		<% unless current_user?(@user) %>
	   			<% if current_user.following?(@user) %>
	   				<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete }) do |f| %>
 							<%= f.submit "Unfollow", class: "btn" %>
						<% end %>
					<% else %>
	   				<%= form_for(current_user.active_relationships.build) do |f| %>
  						<%= hidden_field_tag :followed_id, @user.id %>
  						<%= f.submit "Follow", class: "btn" %>
						<% end %>
	   			
	   				
   				<%end%>
 				<%end%>
	   	<%end%>
				</td>
			</tr>
			<tr>
				<td> Nombre</td> <td> <%= @user.nombre %> </td>
			</tr>
			<tr>
				<td> Apellido</td> <td><%= @user.apellido %> </td>
			</tr>
			<tr>
				<td> Email</td> <td><%= @user.email %> </td>
			</tr>
			<tr>
				<td> F. Nacimiento</td> <td><%= @user.nacimiento %> </td>
			</tr>
			<tr>
				<td> Descripcion</td> <td><%= @user.descripcion %> </td>
			</tr>
		</tbody>
</table>

<!-- Partidos que organiza y partidos en los que esta anotado -->
<div class="row"> 
	<div class="col s6">
		<div class="card grey z-depth-2">
				<div class ="card-content">
					<span class="card-title">Partidos Organizados </span>
					<table class="responsive-table centered bordered white">
						<thead>
							<th> Lugar </th>
							<th> Fecha </th>
						</thead>
						<tbody>
							<% @user.partidos.each do |partido| %>
							<tr> 
								<td> <%= partido.lugar %> </td>
								<td> <%= partido.fecha %> </td>
								<td> <%= link_to "Ver", partido, :class=>"btn" %> </td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
				<%if logged_in?%>
					<div class="card-action">
						<%= link_to 'Crear Partido', partidos_new_path, :class=>"btn" %>
					</div>
				<%end%>
		</div>
	</div>


	<div class="col s6">
		<div class="card grey z-depth-2">
				<div class ="card-content">
					<span class="card-title">Anotado a </span>
					<table class="responsive-table centered bordered white">
						<thead>
							<th> Lugar </th>
							<th> Fecha </th>
						</thead>
						<tbody>
							<% @user.anotado_a.each do |partido| %>
							<tr> 
								<td> <%= partido.lugar %> </td>
								<td> <%= partido.fecha %> </td>
								<td> <%= link_to "Ver", partido, :class=>"btn" %> </td>
							</tr>
							<%end%>
						</tbody>
					</table>
					<%if logged_in?%>
						<div class="card-action">
							<%= link_to 'Anotarse a uno', anotados_new_path, :class=>"btn" %>
						</div>
					<%end%>
			</div>
		</div>
	</div>
</div>

<!-- Usuarios que sigue -->

	<div class="row" style="margin: 10px 10px">
		<div class = "col s6">
			<div class="card gray z-depth-2">
				<div class="card-content">
					<span class="card-title">Sigue a</span>	
					<ul class="collection">
						<% @user.following.each do |user| %>
							<li class="collection-item"> 
								<%= link_to user.nick, user %> 
								<%= link_to "Unfollow", "#", :class =>"btn secondary-content" %>
							 </li>
						<%end%>
					</ul>

					<div class="card-action">
						
					</div>			
				</div>
			</div>
		</div>
		<div class = "col s6">
			<div class="card gray z-depth-2">
				<div class="card-content">
					<span class="card-title">Seguidores</span>	
					<ul class="collection">
						<% @user.followers.each do |user| %>
							<li class="collection-item"> 
								<div> 
									<%= link_to user.nick, user %>
								</div>
							</li>
						<%end%>
					</ul>

					<div class="card-action">
						
					</div>			
				</div>
			</div>
		</div>
	</div>

</div>