<div class="row">
<h3 class="center z-depth-2 grey">Datos de Usuario</h3>

<table class="centered highlight white z-depth-2" style="margin-bottom: 25px">
	
		<tbody>
			<tr>
				<td> Nickname</td> <td> <%= @user.nick %> </td>
			</tr>
			<tr>
				<!-- <img src="/assets/default_user.png" alt="imagen" class="circle" height="42" width="42"> -->
				<td> <%= image_tag @user.avatar.url, height: '32', width: '32', :class => "circle" %>  </td> 

				<td>
					<% if logged_in? %>
	   		<% unless current_user?(@user) %>
	   			<% if current_user.following?(@user) %>
	   				<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete }) do |f| %>
 							<%= f.submit "Unfollow", class: "btn" %>
						<% end %>
					<% else %>
	   				<%= form_for(current_user.active_relationships.build) do |f| %>
  						<%= hidden_field_tag :followed_id, @user.id %>
  						<%= f.submit "Follow", class: "btn" %>
						<% end %>
   				<%end%>
 				<%end%>
	   	<%end%>
				</td>
			</tr>
			<tr>
				<td> Nombre</td> <td> <%= @user.nombre %> </td>
			</tr>
			<tr>
				<td> Apellido</td> <td><%= @user.apellido %> </td>
			</tr>
			<tr>
				<td> Email</td> <td><%= @user.email %> </td>
			</tr>
			<tr>
				<td> F. Nacimiento</td> <td><%= @user.nacimiento %> </td>
			</tr>
			<tr>
				<td> Descripcion</td> <td><%= @user.descripcion %> </td>
			</tr>
			<tr>
				<td> Rol</td> <td><%= @user.role %> </td>
			</tr>
		</tbody>
</table>

<% if logged_in? %>
	<% if @user.player? %>

		<!-- Usuarios que sigue -->
		<div class="row">
			<div class = "col s6">
				<div class="card gray z-depth-2">
					<div class="card-content">
						<span class="card-title">Sigue a</span>	
						<ul class="collection">
							<% if @user.following.empty? %>
								<li class="collection-item"> 
									No sigue a ningun usuario
								</li>
							<%else%>
								<% @user.following.each do |u| %>
									<li class="collection-item"> 
										<%= link_to u.nick, u %> 
										<%= link_to "Unfollow", "#", :class =>"btn secondary-content" %>
									 </li>
								 <%end%>
							<%end%>
						</ul>

						<div class="card-action">
							
						</div>			
					</div>
				</div>
			</div>
			<div class = "col s6">
				<div class="card gray z-depth-2">
					<div class="card-content">
						<span class="card-title">Seguidores</span>	
						<ul class="collection">
							<% if @user.followers.empty? %>
								<li class="collection-item"> 
									No posee seguidores
								</li>
							<%else%>
								<% @user.followers.each do |u| %>
									<li class="collection-item"> 
										<div> 
											<%= link_to u.nick, u %>
										</div>
									</li>
								<%end%>
							<%end%>
						</ul>

						<div class="card-action">
							
						</div>			
					</div>
				</div>
			</div>
		</div>


		<!-- Partidos que organiza y partidos en los que esta anotado -->
		<div class="row"> 
			<div class="col s6">
				<div class="card grey z-depth-2">
						<div class ="card-content">
							<span class="card-title">Partidos Organizados </span>
							<table class="responsive-table centered bordered white">
								<thead>
									<th> Local </th>
									<th> Cancha </th>
									<th> Fecha </th>
								</thead>
								<tbody>
									<% @user.partidos.each do |partido| %>
									<tr> 
										<td> <%= partido.local_id %> </td>
										<td> <%= partido.court_id %> </td>
										<td> <%= partido.fecha %> </td>
										<td> <%= link_to "Ver", partido, :class=>"btn" %> </td>
									</tr>
									<%end%>
								</tbody>
							</table>
						</div>
						
							<div class="card-action">
								<%= link_to 'Crear Partido', partidos_new_path, :class=>"btn" %>
							</div>
						
				</div>
			</div>


			<div class="col s6">
				<div class="card grey z-depth-2">
						<div class ="card-content">
							<span class="card-title">Anotado a </span>
							<table class="responsive-table centered bordered white">
								<thead>
									<th> Local </th>
									<th> Cancha </th>
									<th> Fecha </th>
								</thead>
								<tbody>
									<% @user.anotado_a.each do |partido| %>
									<tr> 
										<td> <%= partido.local_id %> </td>
										<td> <%= partido.court_id %> </td>
										<td> <%= partido.fecha %> </td>
										<td> <%= link_to "Ver", partido, :class=>"btn" %> </td>
									</tr>
									<%end%>
								</tbody>
							</table>
							
								<div class="card-action">
									<%= link_to 'Anotarse a uno', partidos_path, :class=>"btn" %>
								</div>
							
					</div>
				</div>
			</div>
		</div>

	<%else%>
		<!-- El usuario es local_owener -->
		<% local = Local.find_by(user_id: @user.id) %>
		<% unless local == nil %>
		  <div class="row">
				<h4 class="center z-depth-2 grey">Datos de Local</h4>

				<table class="centered highlight white z-depth-2" style="margin-bottom: 25px">
			
					<tbody>
						<tr>
							<td> Cancha</td> <td> <%= local.nombre %> </td>
						</tr>
						<tr>
							<td> Barrio</td> <td> <%= local.barrio %> </td>
						</tr>
						<tr>
							<td> Direccion</td> <td> <%= local.direccion %> </td>
						</tr>
						<tr>
							<td> Telefono</td> <td><%= local.telefono %> </td>
						</tr>
						<tr>
							<td> Email</td> <td><%= local.email %> </td>
						</tr>
						<tr>
							<td> Abierto</td> <td> <%= local.opens.strftime("%H:%M") %>Hs - <%= local.closes.strftime("%H:%M") %>Hs</td>
						</tr>
						
					</tbody>
				</table>
				<div class="row center">
					<%= link_to "Ver Local", local, :class=>"btn btn-large" %>
				</div>

			</div>	
		<%else%>
			<div class="row center">
				<%= link_to "Crear local", new_local_path, :class=>"btn btn-large" %>
			</div>
		<%end%>
	<%end%>
<%end%>
</div>