
<h1>Nuevo anotado</h1>

<p>
	<strong> ID Usuario: </strong> <%= @anotado.user_id %> | 
	<strong> ID Partido: </strong> <%= @anotado.partido_id %>
</p>

<br>

<%= link_to 'Usuarios', users_path %>
<%= link_to 'Partidos', partidos_path %>
<%= link_to 'Inicio', '/' %>
